.searchBox {
  margin-top: 50px;
  position: relative;
}
.searchBox input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #22262e;
  border: none;
  border-radius: 5px;
}
.searchBox input:focus {
  outline: none;
}
.searchBox select {
  background-color: #22262e;
  color: #ffff;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 10px;
}

.searchBox select:focus {
  outline: none;
}

.search {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #22262e;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
.search li {
  list-style: none;
  display: flex;
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #131315;
}

.search li img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
